/* Adding droid sans font , any p and h which are not in any 
class will have this font*/
p, h1{

	font-family: 'Droid Sans', sans-serif;
}

/*NAVIGATION*/
.navbar {

	background-color: #242424;     /* Puts black backround color */
	border-bottom: 1px solid #b9b9b9; /* Puts a white border in bottom of navbar 
	to distinguish first page */

}

.navbar a {
	color: #cccccc !important; /*Adding link colours (Grey) */
	/* !important says that browser will use our style sheet rather than 
	bootstrap style sheet */
	font-family: 'Lato', sans-serif;
	/* Adding fonts from google api google.com/fonts 
	and it will load when page is loaded */
}

.navbar a:hover{
	color:#ffffff !important;
	/* Adding a color to links (white) while they are
	hovered over */
	background-color: #646464 !important;
	/*changing the background of the links */ 
}

.navbar-header .navbar-brand{
	color:#ffffff !important;
	/* Logo's color is changed to white
	it sites in navbar-header inside navar-brand */
	font-size: 1.5em;
	/*Changing size of the logo */
}

/*HEADER */
.header{
	padding: 140px 0 60px 0;
	/* top right bottom left */
	/* Padding is used to align content */
	background: url(../img/bg.jpg) no-repeat center center;
	/*url can be given if we want to load it from web */
	/*.. is for backstep in folder since we are in css */
	/*then actual path of image is given */
	/* then no-repeat for not repeating the image + center center
	is for positioning */

	background-size: cover;
	/* image stretches and fills the background top to bottom
	on large devices */
	width: 100%; 
	/* image do not cutoff on large devices */
	border-bottom: 2px solid #c9c9c9;
}

.header h1{
	color:white;
	font-family: 'Pacifico', cursive;
	/* Adding font to the Welcome heading */
	font-size: 7.5em;
}

.header p{
	color: white;
	font-size: 1.5em;
}

/* button generator can generate awesome buttons on
blog.koalite.com/bbg */
.header .btn{
	/*Adding padding to button*/
	padding: 5px 50px 5px 50px;
	/* Removing round corner of button and making
	them rectangle */
	border-radius: 0;
}

/* Adding media queries for smaller screens than ipad*/
@media(max-width: 768px){

	.header{
		text-align: center;
		/*padding is added yto bridge gap b/w
		nav bar and Welcome*/
		padding-top: 20%;
	}
	.header h1{
		font-size: 5em;
	}
	.header p{
		font-size: 1em;
	}
	.header .btn{
		/*Adding padding so the button do not stack
		on each other */
		padding:5px 12px 5px 12px;
	}
	.header img{
		padding-top: 10%;
	}
}

/* ABOUT */

.about{
	padding: 100px 0px 100px 0px;
	text-align: center;
	border-bottom: 2px solid #c9c9c9;
}

.about h1{
	font-size: 1.8em;
	color: #3378b7;
	/* Blue which was in the button */
	padding: 0 0 25px 0;
}

.about p{
	padding-bottom: 25px;
}

/*FEATURES*/
.features{
	background-color: #337ab7;
	text-align: center;
	color: white;
	padding:90px 0px 90px 0px;

}

.features h1{
	font-size: 2em;
	padding-bottom: 25px;

}

.features img{
	padding: 15px 0 35px;
}